textarea, input {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.btn-primary {
    background-color: #3cbd70;
    border-color: #36aa65;
    color: #fff;
    background-image: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
}
/* stories */
#stories {
    clear: both;
}

/* story */

.story .card {
    width: 180px;
}
.story > div {
    float: left;
	display: flex;
}
/* Lane */

.titles,
.lanes {
    width: calc(100% - 180px);
}
.lane {
    min-height: 155px;
    max-height: 420px;
    float: left;
    overflow: auto;
	background: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin: 2px;
}

.lane,
.titles div {
    width: 25%;
}
.lane .toolbar {
    height: 30px;
}
.lane .toolbar button {
    font-size: 12px;
    float: right;
}
.lane .toolbar button.add {
    background-color: #3cbd70;
    border: 1px solid #36aa65;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 8px;
    margin: 3px;
}
.story.closed .lane .toolbar button.add {
    display: none;
}
/* Board Tile */

.tile {
    height: 120px;
    background-color: #888;
    border: 1px solid #ddd;
    padding-left: 6px;
    margin: 4px;
    width: 170px;
    float: left;
    box-shadow: 2px 2px 12px #888888;
    position: relative;
}
.tile > div {
    background-color: #fff;
    height: 100%;
    padding: 7px;
    opacity: 0.9;
}

.story.closed .tile {
    opacity: 0.5;
}
.tile .titleContainer .id {
    float: left;
    font-weight: bold;
    margin-right: 8px;
}
.tile .user {
    color: #888;
}
.tile img.avatar {
    width: 22px;
    height: 22px;
    position: relative;
    top: -1px;
    margin-right: 4px;
}
.tile .estimatedTime {
    position: absolute;
    bottom: 4px;
    right: 10px;
    font-size: 20px;
}
.tile .labels span {
    padding: 2px;
    font-size: 10px;
    margin: 3px;
    float: left;
	border-radius: 100px;
    padding: 3px 7px;
}
.tile .labels .light {
    color: #fff;
}
.tile .labels .dark {
    color: #000;
}

.tile .title {
	max-height: 52px;
    overflow: hidden;
}

.titles div {
    font-weight: bold;
    float: left;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin: 2px;
	border-top-width: 3px;
}
/* board */

.board {
    margin-top: 10px;
}
.titles {
    left: 180px;
    position: relative;
    display: flex;
}

.titles h3 {
    color: rgba(0,0,0,0.85);
    font-size: 1em;
    margin: 0;
    padding: 8px;
    font-weight: bold;
}

textarea#task-description {
    margin: 0px;
    width: 568px;
    height: 200px;
}
/* Label select */

.dropdown-menu-toggle {
    border-color: #c4c4c4;
    padding-right: 20px;
    position: relative;
    width: 163px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 6px 8px 6px 10px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    text-align: left;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-appearance: button;
    cursor: pointer;
    margin: 0;
}
.open .dropdown-toggle .fa-chevron-down,
.open .dropdown-menu-toggle .fa-chevron-down,
.open .dropdown-menu-toggle .fa-chevron-down {
    color: #c4c4c4;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    max-width: 280px;
    min-width: 240px;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-menu ul {
    margin: 0;
    padding: 0;
}
.dropdown-menu li,
.dropdown-menu-nav li {
    text-align: left;
    list-style: none;
    padding: 0 8px;
}
.dropdown-menu-selectable a {
    padding-left: 25px;
}
.dropdown-menu a,
.dropdown-menu-nav a {
    display: block;
    position: relative;
    padding: 5px 8px;
    color: #555;
    line-height: initial;
    text-overflow: ellipsis;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
}
.dropdown-label-box {
    position: relative;
    top: 3px;
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
.dropdown-content {
    max-height: 215px;
    overflow-y: auto;
}
.dropdown-title {
    position: relative;
    padding: 0 25px 10px;
    margin: 0 10px 10px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a.is-focused,
.dropdown-menu-nav a:hover,
.dropdown-menu-nav a:focus,
.dropdown-menu-nav a.is-focused {
    background-color: #f7faff;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu-toggle i.glyphicon {
    float: right;
    margin-top: 2px;
}
/* Other */

a {
    color: #3777b0;
    text-decoration: none;
}
a {
    transition: background-color 150ms linear, color 150ms linear, border 150ms linear;
}